@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mostrar-menu {
    animation-name: mostrarMenu;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    display: block;
}

@keyframes mostrarMenu {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.ocultar-menu {
    transition: all .3s;
    transform: translateY(-150%);
}

.heading {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    color: #38B000;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .heading {
        font-size: 2.2rem;
    }
}


@media (min-width: 768px) {
    .hora {
        transform: translateY(-100%);
        transition: all ease .3s;
        visibility: hidden;
        opacity: 0;
    }
    
    .dia:hover .hora {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }
}

.mostrar-barra {
    animation-name: mostrarBarra;
    animation-duration: .3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes mostrarBarra {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.ocultar-barra {
    transform: translateY(-100%);
    transition: all ease;
}

.imagen:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/2;
}
 
.imagen:nth-child(5) {
    grid-column: 3/7;
    grid-row: 1/2;
}

.imagen:nth-child(1) {
    grid-column: 3/5;
    grid-row: 2/3;
}

.imagen:nth-child(6) {
    grid-column: 3/5;
    grid-row: 3/4;
}

.imagen:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/4;
}

.imagen:nth-child(4) {
    grid-column: 5/7;
    grid-row: 2/4;
}
