@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mostrar {
    animation-name: mostrarMenu;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    display: block;
}

@keyframes mostrarMenu {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.ocultar {
    transition: all .3s;
    transform: translateY(-150%);
}

.heading {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    color: #38B000;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .heading {
        font-size: 2.2rem;
    }
}